.sign-in-page {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}

.sign-in-page .side-form-sign-in, .sign-in-page .sign-in {
    width: 50%;
}

.side-form-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/public/images/galinhasbg.jpg) no-repeat center center;
    background-size: cover;
}

.sign-in-title {
    font-size: xx-large;
    font-family: 'Hind';
    font-weight: 300;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 50px;
}

.sign-in div {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-in .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    gap: 15px;
}

.sign-in .logo h2 {
    font-family: 'Iceberg';
    font-weight: 400;
    font-size: 30px;
    color: #1f1f1f;
}

.sign-in .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.sign-in span {
    font-family: 'Hind';
    user-select: none;
}

.sign-in .buttons button, .sign-in .buttons a {
    max-width: 500px;
    width: 99%;
}

@media screen and (max-width: 200px) {
    .logo {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px ) {
    .side-form-sign-in {
        width: 0%;
        display: none;
    }

    .sign-in-page .sign-in{
        width: 100%;
        
    }
} 

@media screen and (max-height: 650px) {
    .side-form-sign-in {
        width: 0%;
        display: none;
    }

    .sign-in-page .sign-in{
        width: 100%;
        
    }
}