.sign-up-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.sign-up-page .side-form-sign-up, .sign-up-page .sign-up {
    width: 50%;
}

.side-form-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Judson';
    font-size: large;
    color: #fff;
    height: 100vh;
    background: url(/public/images/galinhabg.jpg) no-repeat center center;
    background-size: cover;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 50px;
}

.sign-up-title {
    font-size: xx-large;
    font-family: 'Hind';
    font-weight: 300;
}

.sign-up div {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    gap: 15px;
}

.sign-up .logo h2 {
    font-family: 'Iceberg';
    font-weight: 400;
    font-size: 30px;
    color: #1f1f1f;
}

.already-registered {
    font-size: 12px;
    color: #414141;
    font-family: sans-serif;
    text-decoration: underline;
}

.password-different {
    font-family: 'Hind';
    color: red;
}

@media screen and (max-width: 200px) {
    .logo {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px ) {
    .side-form-sign-up {
        width: 0%;
        display: none;
    }

    .sign-up-page .sign-up{
        width: 100%;
        
    }
} 

@media screen and (max-height: 650px) {
    .side-form-sign-up {
        width: 0%;
        display: none;
    }

    .sign-up-page .sign-up{
        width: 100%;
        
    }
}